.logo-container {
    z-index: 0;
    width: 400px;
    // width: 100vw;
    height: 609px;
    position: absolute;
    top: 0;
    // right: 38%;
    right: 17%;
    // right: 0;
    bottom: 0;
    // left: auto;
    margin: auto;
    z-index: 1;
    align-content: end;
    // opacity: 0;

    // svg {
    //     width: 100%;
    //     height: auto;
    //     bottom: 0;
    //     transform: rotateZ(30deg) !important;
    // }

    .solid-logo {
        position: absolute;
        // display: block;
        top: 100px;
        right: 0;
        bottom: auto;
        left: 0;
        margin: auto;
        // width: 250%;
        width: 70%;
        z-index: 1;
        border-radius: 50%;
        border: 5px solid #6AD2D4;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        // opacity: 0;
        // transform: rotateZ(30deg);
        // z-index: 1;
    }
}

// .svg-container {
//     stroke: #ffd700;
//     stroke-width: 10;
// }